<template>
  <section class="section">
            <div class="rectangle"></div>
            <div class="circle"></div>
            <div class="circleb"></div>
            <header>
                <div>
                    <p class="rep">REPUBLIC OF KENYA</p>
                    <p class="min">MINISTRY OF EDUCATION</p>
                </div>
                <img class="logo" alt="Logo" src="logogok.png">
            </header>
            <div class="content">
                <div class="textBox">
                    <h1>NEMIS</h1>
                    <span class="line"></span>
                    <h2>The National Education <br/> Management Information<br/>     System
                        </h2>
                    <p>Web based data management solution which 
                        collects data and information from education 
                        institutions; processes and reports the status of
                        designed indicators; and provides the sector a solid
                        ground for effective management to ensure that every
                        Learner counts.</p>
                        <div class="space"></div>
                    <p>For School Managers or Head of Institutions 
                            Register Institutions<br/> for credibility. <a class="reg">Register</a></p>
                 </div>
                 <div class="login_form">
                    <h2>Sign in</h2>
                    <span class="line"></span>
                    <form >
                      <div class="field-wrapper">
                        <label>ID/Passport number</label>
                        <input type="text" name="email" placeholder="Enter your email">
                      </div>
                      <div class="forgot-wrapper">
                        <span class="forgot">Forgot password</span>
                      </div>
                      <div class="field-wrapper">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password" >
                      </div>
                      <div class="field-wrapper">
                        <input type="submit" placeholder="Log in" value="Log in">
                      </div>
                    </form>
                    <span >Don’t have an account create one</span>
                 </div>
            </div>
            <span class="footerLine"></span>
            <span class="footer">© 2021 - Ministry of Education - NEMIS | Terms and Conditions apply <span class="education">nemis@education.go.ke</span></span>
        </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>

<style>
.section {
  margin: 0 auto;
  min-height: 100vh;
  padding: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222966;
}
.section img
{
    position: absolute;
    width: 120px;
    height: 113.42px;
    left: 1210px;
    top: 16px;
}

section .rep
{
position: absolute;
width: 131px;
height: 15px;
left: 1052px;
top: 58px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #000;
}
section .min
{
    position: absolute;
    width: 323px;
    height: 29px;
    left: 867px;
    top: 73px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    
}
section .rectangle
{
    height: 50%;
    width: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 1%);
}
section .circle
{
    position: absolute;
    width: 469.75px;
    height: 469.75px;
    left: 860.13px;
    top: 283.13px;
    background: rgba(102, 116, 249, 0.44);
    clip-path: circle(40% at center);
}

section .circleb
{
    position: absolute;
    width: 469.75px;
    height: 469.75px;
    left: 860.13px;
    top: 283.13px;
    background: rgba(102, 116, 249, 0.17);
    clip-path: circle(50% at center);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.content
{
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
    color: #A3A9BE;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.content .textBox h1
{
    color: #FFF;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
}
.content .textBox .line
{
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 6px solid #F86B6B;
    display: block;
    width: 163px;
    height: 7px;
}
.content .textBox h2
{
    color: #FFF;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    
}
.content .reg
{
    color: rgb(236, 214, 17);
    text-decoration: underline;
}
.content .login_form .line
{
    margin-top: -25px;
    border-bottom: 6px solid #F86B6B;
    display: block;
    width: 85px;
    height: 7px;
}
.content .login_form
{
    background: #FFF;
    border: 0.5px solid rgba(34, 41, 102, 0.74);
    box-sizing: border-box;
    padding: 30px; 
    display: grid;
    width: 390px;
    height: 548px;
}
.content .login_form h2
{
    margin-top:40px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #222966; 
}
.content .login_form label
{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #00254A;

}
.content .login_form .forgot-wrapper
{
    text-align: right;
}
.content .login_form .forgot
{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #9AA6AC;
}
.content .login_form input
{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid #BEBEBE;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #A4A4A4;

}
.content .login_form input[type="submit"]
{
    margin-top: 35px;
    background: #222966;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFF;

}
.content .login_form span
{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #00254A;
}
.footerLine
{
    position: absolute;
    justify-content: center;
    left: 531px;
    top: 942px;
    border: 0.1px solid #FFF;
    display: block;
    width: 378px;
}
.footer
{
    position: absolute;
    justify-content: center;
    left: 348px;
    top: 961px;
    color: #A3A9BE;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
.footer .education
{
    color: #FFF;
}

</style>
